{
	auto_https off
}

:8380 {
	encode zstd gzip

	basic_auth /admin* /api/admin/* {
		{$ADMIN_BASIC_AUTH_USER} {$ADMIN_BCRYPT_HASH}
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy portfolio-web:3000
}

:8280 {
	encode zstd gzip

	request_body {
		max_size 20GB
	}

	header {
		X-Robots-Tag "noindex, nofollow, noarchive"
	}

	reverse_proxy immich-server:2283 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
